.navbarberanda {
  font-family: 'Arial', sans-serif;
  background-color: #085C45;
  padding: 10px;
}

.navbarberanda nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.navbarberanda nav img {
  display: block;
}

.navbarberanda ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarberanda li {
  margin-right: 20px;
}

.navbarberanda a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  padding: 6px;
}

.navbarberanda a:hover {
  color: #937100;
  background-color: white;
  border-radius: 20px;
  padding: 6px;
}


.headerberanda {
  background-image: url('../Assets/Pictures/gambar.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  height: 25rem;
}

.headerberanda-content {
  margin-right: 40rem;
  margin-left: 5rem;
  margin-top: 50px;
}

.tentangberanda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
  margin-top: 50px;
}

.judul {
  flex: 1;
  margin-left: 6rem;
}

.judul h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #085C45;
}

.judul h3 {
  font-size: 18px;
  color: #085C45;
}

.isi {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
  margin-right: 6rem;
  margin-left: 4rem;
  margin-top: 30px;
}

.keunggulanberanda {
  margin-top: 8rem;
}

.keunggulanberanda h2 {
  margin-left: 8rem;
  color: #085C45;
}

.keunggulan-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}

.card {
  display: flex;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  background: #F3F3F3;
  padding: 30px;
}

.card img {
  width: auto;
  height: 50px;
  margin-right: 50px;
}

.penjelasan {
  margin-top: -25px;
}

.penjelasan h3 {
  color: #085C45;
}

.penjelasan p {
  margin-top: 3px;
  text-align: justify;
  margin-right: 15px;
}

.komunitasberanda {
  background-color: #F3F3F3;
  margin-top: 50px;
  padding-top: 16px;
  height: 300px;
}

.komunitasberanda h2 {
  margin-left: 6rem;
  color: #085C45;
}

.komunitasberanda-section {
  display: flex;
  margin-left: 5rem;
}

.profile-card {
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan di bawah card */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-card:hover {
  transform: translateY(-5px); /* Menggeser card ke atas saat kursor diarahkan ke card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Meningkatkan intensitas bayangan ketika dihover */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.info {
  flex: 1;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.email {
  color: #777;
}

.options {
  cursor: pointer;
}

.status {
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 20px;
}

.requestberanda {
  margin-top: 50px;
}

.requestberanda h2 {
  margin-left: 7rem;
  color: #085C45;
}

.requestberanda-content {
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
  justify-content: space-around;
}

.requestbarang-content-login,
.requestbarang-content-menulogistik,
.requestbarang-content-requestdiajukan,
.requestbarang-content-menunggubarang {
  text-align: center;
  margin-top: 50px;
}

.requestbarang-content-login {
  margin-left: 3rem;
}

.requestberanda-content img,
.requestbarang-content-login img,
.requestbarang-content-menulogistik img,
.requestbarang-content-requestdiajukan img,
.requestbarang-content-menunggubarang img {
  max-width: 50px;
  height: auto;
}

.requestberanda-content p,
.requestbarang-content-login p,
.requestbarang-content-menulogistik p,
.requestbarang-content-requestdiajukan p,
.requestbarang-content-menunggubarang p {
  margin-top: 10px;
  margin-right: 50px;
}

.requestberanda-content img:not(:last-child) {
  margin-right: 20px;
}

footer {
  background-color: #085C45;
  margin-top: 100px;
  height: 300px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

footer img {
  height: 50px;
  width: auto;
}

.footercontent-logo, .footercontent-perusahaan, .footercontent-sosmed, .footercontent-kerjasama {
  margin-right: 100px;
  margin-top: 50px;
}

.footercontent-perusahaan h3, .footercontent-sosmed h3, .footercontent-kerjasama h3 {
  color: #B7B7B7;
}

.footercontent-perusahaan h4, .footercontent-sosmed h4 {
  color: #fff;
  font-weight: 400;
}

.footercontent-logoIL {
  width: auto;
  height: 30px;
  margin-right: 20px;
}

.google-play-button {
  width: auto;
  height: 30px
}

.footer-copyright {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.beranda-navlink.active {
  background-color: #937100;
  border-radius: 20px;
  padding: 6px;
}


