.login {
  background-color: white;
  display: flex;
}
  
.formlogin {
  margin: auto;
  margin-top: 6rem;
  padding: 50px;
  border: 2px solid var(--penanda, #085C45);
  background: white;
}

.formlogin-daftarsection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formlogin-daftarsection h3 {
  margin-right: 10px;
}

.formlogin-daftarsection button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background-color: #937100;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.formlogin-daftarsection button:hover {
  background-color: white;
  color: #937100;
  border-radius: 25px;
  border: 2px solid #937100;
}

.formlogin-inputuser {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Menambahkan margin antara elemen-elemen */
  align-items: flex-start;
  justify-content: center;
}

.formlogin-inputuser label {
  margin-bottom: 5px; /* Jarak antara label dan input */
  color: #085C45;
  font-weight: 600;
}

.formlogin-inputuser input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #085C45;
  width: 300px;
}

.formlogin-inputpassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: flex-start;
  justify-content: center;
}

.formlogin-inputpassword label {
  margin-bottom: 5px;
  color: #085C45;
  font-weight: 600;
}

.formlogin-inputpassword .formlogin-inputpassword-container {
  position: relative;
}

.formlogin-inputpassword input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #085C45;
  width: 300px;
}

.formlogin-inputpassword .formlogin-inputpassword-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #085C45;
}

.formlogin-lupapassword {
  display: flex;
  justify-content: space-between;
}

.remember-me {
  align-items: center; /* Pusatkan elemen secara vertikal */
  flex-direction: row; /* Tampilkan elemen dalam satu baris */
  color: #937100;
  font-weight: bold;
}

.remember-me input {
  margin-right: 5px;
}

.forgot-password-link {
  color: #937100;
  text-decoration: none;
  font-weight: bold;
}

.buttonmasuk {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  background-color: #937100;
  color: white;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  font-size: 16px;
}

.buttonmasuk:disabled {
  background-color: #cccccc; /* Ganti dengan warna abu- abu yang Anda inginkan */
  color: #666666; /* Ganti dengan warna teks yang sesuai */
  cursor: not-allowed;
}

.with-line {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.with-line h4 {
  flex: 1;
  font-size: 12px;
  text-align: center;
  color: #085C45;
}

.with-line:before,
.with-line:after {
  content: "";
  flex: 1; /* Menggunakan ruang fleksibel untuk garis kiri dan kanan */
  border-top: 2px solid #085C45;
  margin: 0 10px; /* Memberikan jarak antara teks dan garis */
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Sesuaikan dengan kebutuhan margin di atas ikon */
}

.icons a {
  display: inline-block;
  margin: 0 10px;
}

.icons img {
  width: 30px;
  height: auto;
}












