.login {
  background-color: white;
  display: flex;
}
  
.login_content {
  margin: 80px;
  padding: 45px;
  border: 2px solid var(--penanda, #085B45);
  background: white;
  justify-content: center;
}
  
.daftar_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.daftar_button h3 {
  margin-right: 10px;
  color: #07362A;
  font-size: 14px;
}

.daftar_button button {
  width: 80px;
  padding: 5px;
  border-radius: 25px;
  background: #937100;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
}

.loginform {
    margin-top: 50px;
  }
  
  .loginform h2 {
    margin-bottom: 20px;
    color: #07362A;
    font-weight: 400;
  }
  
  .loginform form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .loginform label {
    margin-bottom: 8px;
    color: #07362A;
    font-weight: 500;
  }
  
  .loginform input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  flex: 1;
  padding-right: 30px;
}

.password-input span {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #07362A;
}

  .loginform button {
    width: 80px;
    padding: 10px;
    border-radius: 25px;
    background: #937100;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
  }

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.remember-forgot label {
  display: flex;
  font-size: 16px;
}

.remember-forgot label input {
  color: #937100;
}

.remember-forgot label p {
  margin-top: 1px;
  color: #937100;
  font-weight: 400;
}

.remember-forgot a {
  color: #937100;
  text-decoration: none;
}

.openwith-section {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #085B45;
}

.openwith-section h4 {
  padding: 0 16px;
  color: #07362A;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 8px; /* Sesuaikan margin sesuai keinginan Anda */
}

/* ... existing CSS ... */
